In [2]:
# Min - max normalization

import pandas as pd
# Read the csv file into a DataFrame 
df = pd.read_excel("/content/drive/MyDrive/titanic.xls")
# Perform min-max normalization for the 'Age' attribute 
age_min = df['age'].min()
age_max = df['age'].max()
df['age'] = (df['age'] - age_min) / (age_max - age_min)
# Perform min-max normalization for the 'Fare' attribute fare_min = df['fare'].min()
fare_max = df['fare'].max()
fare_min = df['fare'].min()
df['fare'] = (df['fare'] - fare_min) / (fare_max - fare_min) 
print(df[['age','fare']])

           age      fare
0     0.361169  0.412503
1     0.009395  0.295806
2     0.022964  0.295806
3     0.373695  0.295806
4     0.311064  0.295806
...        ...       ...
1304  0.179540  0.028213
1305       NaN  0.028213
1306  0.329854  0.014102
1307  0.336117  0.014102
1308  0.361169  0.015371

[1309 rows x 2 columns]

In [4]:
# Z - score normalization

import pandas as pd
titanic_df = pd.read_excel('/content/drive/MyDrive/titanic.xls')
# Calculate the mean and standard deviation for the "age" attribute 
age_mean = titanic_df['age'].mean()
age_std = titanic_df['age'].std()
# Calculate the mean and standard deviation for the "fare" attribute 
fare_mean = titanic_df['fare'].mean()
fare_std = titanic_df['fare'].std()
titanic_df['age_zscore'] = (titanic_df['age'] - age_mean) / age_std 
titanic_df['fare_zscore'] = (titanic_df['fare'] - fare_mean) / fare_std
# Print the first few rows of the DataFrame to verify the results 
print(titanic_df.head())

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare embarked  age_zscore  fare_zscore
0  29.0000      0      0   24160  211.3375        S   -0.061133     3.439849
1   0.9167      1      2  113781  151.5500        S   -2.009535     2.284729
2   2.0000      1      2  113781  151.5500        S   -1.934376     2.284729
3  30.0000      1      2  113781  151.5500        S    0.008247     2.284729
4  25.0000      1      2  113781  151.5500        S   -0.338650     2.284729

In [5]:
# Decimal - scaling

import pandas as pd
# Read the csv file into a DataFrame 
df = pd.read_excel("/content/drive/MyDrive/titanic.xls")
# Perform min-max normalization for the 'Age' attribute 
age_min = df['age'].min()
age_max = df['age'].max()
df['age'] = (df['age'] - age_min) / (age_max - age_min)
# Perform min-max normalization for the 'Fare' attribute fare_min = df['fare'].min()
fare_max = df['fare'].max()
df['fare'] = (df['fare'] - fare_min) / (fare_max - fare_min) 
print(df[['age','fare']])

           age      fare
0     0.361169  0.412503
1     0.009395  0.295806
2     0.022964  0.295806
3     0.373695  0.295806
4     0.311064  0.295806
...        ...       ...
1304  0.179540  0.028213
1305       NaN  0.028213
1306  0.329854  0.014102
1307  0.336117  0.014102
1308  0.361169  0.015371

[1309 rows x 2 columns]